<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Meal Planner</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/third-party/bootstrap.4.6.1.min.css">
  <!-- Core site CSS -->
  <link rel="stylesheet" href="/css/common/main.css">
</head>
<body>

<!-- Main Navigation -->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Meal Planner</a>
  <div class="navbar-text w-100" style="padding-left: 10px;" type="text"
       id="devEnvironmentInfo"
       th:if="${isDevelopment}"
       th:text="'DB: ' + ${dbName} + ', Profile: ' + ${activeProfile}"></div>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/planner">
              <span data-feather="clipboard"></span>
              Planner
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addrecipes">
              <span data-feather="plus"></span>
              Add Recipes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ingredientEditor">
              <span data-feather="pie-chart"></span>
              Ingredient Editor
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recipeEditor">
              <span data-feather="list"></span>
              Recipe Editor
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/unitEditor">
              <span data-feather="tag"></span>
              Unit Editor
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Content Section -->
    <section layout:fragment="content">
      <p>This is filled by the content template.</p>
    </section>

  </div>
</div>

<script th:inline="javascript">
  /*<![CDATA[*/
  const CSRF_TOKEN = /*[[${_csrf.token}]]*/ 'test';
  const CSRF_HEADER_NAME = /*[[${_csrf.headerName}]]*/ 'test';
  /*]]>*/
</script>

<!-- LiveReload -->
<script th:if="${isDevelopment}" src="http://localhost:35729/livereload.js"></script>

<!-- Core Third Party JS Libs -->
<script src="/js/third-party/third-party.bundle.js"></script>

<!-- Optional Section, e.g., for page-level scripts -->
<th:block layout:fragment="scripts"/>

</body>
</html>