.datatable thead th svg {
  float: right;
  height: 24px;
}

.datatable thead th {
  cursor: pointer;
}

.pagination li {
  cursor: pointer;
}

.pagination li.disabled {
  cursor: auto;
}

.editableCell {
  font-size: inherit;
}

.page-summary {
  min-width: 250px;
}
