<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
  <title>Add New Recipes</title>

  <link rel="stylesheet" th:href="@{/css/addrecipes/addrecipes.bundle.css}" type="text/css">
</head>
<body>

<main id="main" class="container" layout:fragment="content">
  <div id="addRecipes"></div>
</main>

<th:block layout:fragment="scripts">
  <script th:src="@{/js/addrecipes/addrecipes.bundle.js}"></script>
</th:block>

</body>
</html>
