<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
  <title>Ingredient Editor</title>
</head>
<body>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" layout:fragment="content">
  <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Ingredient Editor</h1>
  </div>
  <p>To be implemented...</p>
</main>

<th:block layout:fragment="scripts">
  <script src="/js/ingredients/ingredientEditor.bundle.js"></script>
</th:block>

</body>
</html>
