body {
  font-size: .875rem;
  padding-top: 4.5rem;
}

/*
 * Icons
 */
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

svg.feather {
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/*
 * Bootstrap overrides.
 */
.btn-link {
  text-decoration: none;
}


/* Dev info wraps and pushes content down on smalls screens, so we hide below a certain width */
@media (max-width: 600px) {
  #devEnvironmentInfo {
    display: none;
  }
}
