/*
 * Toasts
 */
#toastContainer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.toast {
  width: 450px !important;
  /* https://getbootstrap.com/docs/4.6/layout/overview/#z-index */
  z-index: 1030;
}

@media (max-width: 450px) {
  .toast {
    width: 360px !important;
  }
}

@media (max-width: 280px) {
  .toast {
    width: 265px !important;
  }
}

.toast-body {
  max-height: 150px;
  overflow: auto;
}
