<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
  <title>Meal Planner</title>

  <link rel="stylesheet" th:href="@{/css/planner/mealplanner.css}">
</head>
<body>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" layout:fragment="content">
  <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Meal Planner</h1>
  </div>
  <div id="mealPlanner"></div>
</main>

<th:block layout:fragment="scripts">
  <script src="https://apis.google.com/js/api.js"></script>
  <script>
    const GAPI_CLIENT_READY = new Promise(function (resolve, reject) {
      // Load gapi client/auth2 libraries.
      gapi.load('client:auth2', {
        callback: () => {
          // Load Google Drive client API and prep gapi.auth2 OAuth library.
          gapi.client.init({
            clientId: '104092167699-bhdgbdqd0ntudhhhqt8qq06l601v9dvj.apps.googleusercontent.com',
            scope: 'https://www.googleapis.com/auth/drive'
          }).then(() => {
            resolve();
          }).catch(reject);
        },
        onerror: reject
      });
    });
  </script>
  <script th:src="@{/js/planner/planner.bundle.js}"></script>
</th:block>

</body>
</html>
