<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
  <title>Meal Planner</title>

  <link rel="stylesheet" th:href="@{/css/planner/planner.bundle.css}">
</head>
<body>

<main class="container" layout:fragment="content">
  <div class="d-flex align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2 flex-grow-1">Meal Planner</h1>
  </div>
  <div id="mealPlanner"></div>
</main>

<th:block layout:fragment="scripts">
  <script src="https://accounts.google.com/gsi/client"></script>
  <script th:src="@{/js/planner/planner.bundle.js}"></script>
</th:block>

</body>
</html>
